<h1>Welcome <%= name %></h1> 
<% if (name === 'Guest') { %>
  <a href="/login">Login</a> <br />
  <a href="/register">Register</a>
<% } else { %>
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
  </form>
<% } %>